doctrine:
    dbal:
        connections:
            beer_repository_connection:
                driver: %db_driver%
                host: %db_host%
                user: %db_user%
                password: %db_password%
                dbname: %db_name%
                charset: UTF8
ezpublish:
    http_cache:
        purge_type: local

    imagemagick:
        enabled: false

    repositories:
        beer_repository:
            engine: legacy
            connection: beer_repository_connection

    siteaccess:
        default_siteaccess: eng
        list:
            - eng
            - fre
            - beer_admin
        groups:
            beer_group:
                - eng
                - fre
                - beer_admin
            beer_frontend_group:
                - eng
                - fre
        match:
            URIElement: '1'

    system:
        beer_group:
            repository: beer_repository
            var_dir: var/beer_site
            image_variations:
                small:
                    reference: null
                    filters:
                        - { name: geometry/scaledownonly, params: [100, 160] }
                medium:
                    reference: null
                    filters:
                        - { name: geometry/scaledownonly, params: [200, 290] }
                listitem:
                    reference: null
                    filters:
                        - { name: geometry/scaledownonly, params: [130, 190] }
                articleimage:
                    reference: null
                    filters:
                        - { name: geometry/scalewidth, params: [770] }
                articlethumbnail:
                    reference: null
                    filters:
                        - { name: geometry/scaledownonly, params: [170, 220] }
                gallerythumbnail:
                    reference: null
                    filters:
                        - { name: geometry/scaledownonly, params: [105, 100] }
                galleryline:
                    reference: null
                    filters:
                        - { name: geometry/scaledownonly, params: [70, 150] }
                imagelarge:
                    reference: null
                    filters:
                        - { name: geometry/scaledownonly, params: [448, 622] }
                large:
                    reference: null
                    filters:
                        - { name: geometry/scaledownonly, params: [360, 440] }
                rss:
                    reference: null
                    filters:
                        - { name: geometry/scale, params: [88, 31] }
                logo:
                    reference: null
                    filters:
                        - { name: geometry/scaleheight, params: [36] }
                infoboximage:
                    reference: null
                    filters:
                        - { name: geometry/scalewidth, params: [75] }
                billboard:
                    reference: null
                    filters:
                        - { name: geometry/scalewidth, params: [764] }
                productthumbnail:
                    reference: null
                    filters:
                        - { name: geometry/scaledownonly, params: [170, 220] }
                productimage:
                    reference: null
                    filters:
                        - { name: geometry/scaledownwidthonly, params: [770] }
                mainstory1:
                    reference: null
                    filters:
                        - { name: geometry/scalewidth, params: [468] }
                        - { name: geometry/crop, params: [468, 396, 0, 0] }
                mainstory2:
                    reference: null
                    filters:
                        - { name: geometry/scalewidth, params: [439] }
                        - { name: geometry/crop, params: [439, 233, 0, 0] }
                mainstory3:
                    reference: null
                    filters:
                        - { name: geometry/scalewidth, params: [201] }
                        - { name: geometry/crop, params: [201, 239, 0, 0] }
                block2items1:
                    reference: null
                    filters:
                        - { name: geometry/scalewidth, params: [195] }
                        - { name: geometry/crop, params: [195, 98, 0, 0] }
                block2items2:
                    reference: null
                    filters:
                        - { name: geometry/scalewidth, params: [195] }
                        - { name: geometry/crop, params: [195, 98, 0, 0] }
                block3items3:
                    reference: null
                    filters:
                        - { name: geometry/scalewidth, params: [195] }
                        - { name: geometry/crop, params: [195, 98, 0, 0] }
                blockgallery1:
                    reference: null
                    filters:
                        - { name: geometry/scalewidth, params: [126] }
                        - { name: geometry/crop, params: [126, 84, 0, 0] }
                campaign:
                    reference: original
                    filters:
                        - { name: geometry/scalewidthdownonly, params: [770] }
                        - { name: geometry/crop, params: [770, 390, 0, 0] }
                backgroundimage:
                    reference: original
                    filters:
                        - { name: geometry/scalewidthdownonly, params: [770] }
                        - { name: geometry/crop, params: [770, 390, 0, 0] }
                highlighted:
                    reference: original
                    filters:
                        - { name: geometry/scalewidthdownonly, params: [300] }
                        - { name: geometry/crop, params: [300, 300, 0, 0] }
                contentgrid:
                    reference: original
                    filters:
                        - { name: geometry/scalewidthdownonly, params: [370] }
                        - { name: geometry/crop, params: [370, 160, 0, 0] }
                gallery:
                    reference: original
                    filters:
                        - { name: geometry/scalewidthdownonly, params: [770] }
                        - { name: geometry/crop, params: [770, 390, 0, 0] }
                galleryfull:
                    reference: original
                    filters:
                        - { name: geometry/scalewidthdownonly, params: [770] }
                imagefull:
                    reference: original
                    filters:
                        - { name: geometry/scalewidthdownonly, params: [770] }
                multiuploadthumbnail:
                    reference: null
                    filters:
                        - { name: geometry/scaledownonly, params: [100, 80] }

        beer_frontend_group:
            location_view:
                full:
                    beer:
                        template: "EzSummerBeerSiteBundle:full:beer.html.twig"
                        match:
                            Identifier\ContentType: "beer"
                    beer_review:
                        template: "EzSummerBeerSiteBundle:full:beer_review.html.twig"
                        match:
                            Identifier\ContentType: "beer_review"
                embed-inline:
                    beer_style:
                        template: "EzSummerBeerSiteBundle:embed-inline:beer_style.html.twig"
                        match:
                            Identifier\ContentType: "beer_style"

            content_view:
                embed:
                    beer:
                        template: "EzSummerBeerSiteBundle:embed:beer.html.twig"
                        match:
                            Identifier\ContentType: "beer"

        eng:
            languages:
                - eng-GB

            session:
                name: eZSESSID


        fre:
            languages:
                - fre-FR
                - eng-GB
            session:
                name: eZSESSID

        beer_admin:
            languages:
                - eng-GB
                - fre-FR

ez_publish_legacy:
    system:
        beer_frontend_group:
            templating:
                view_layout: "EzSummerBeerSiteBundle::pagelayout.html.twig"
        beer_admin:
            legacy_mode: true

stash:
    caches:
        default:
            drivers:
                - FileSystem
            inMemory: true
            registerDoctrineAdapter: false