parameters:
    secret: ThisTokenIsNotSoSecretChangeIt
    locale_fallback: en

    # Fill your API key here
    ez_beer.brewerydb.key: ~
    ez_beer.glass.root_location: 62
    ez_beer.beers.root_location: 63
