# This file is a "template" of what your parameters.yml file should look like
parameters:
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    locale_fallback: en

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # Database params
    db_driver: pdo_mysql
    db_host: localhost
    db_user: root
    db_password: ~
    db_name: ezsummerbeer

    # Fill your API key here
    ez_beer.brewerydb.key: ~

    # Root locations ids
    ez_beer.root.root_location: 2
    ez_beer.glass.root_location: 62
    ez_beer.beers.root_location: 63
    ez_beer.reviews.root_location: 4184
    ez_beer.blog.root_location: 4187