h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
    color: #e7e9ec;
}
h1,
h2,
h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}
h4,
h5,
h6 {
    margin-top: 15px;
    margin-bottom: 15px;
}
h6 {
    font-weight: normal;
}
h1,
.h1 {
    font-size: 61px;
}
h2,
.h2 {
    font-size: 53px;
}
h3,
.h3 {
    font-size: 40px;
}
h4,
.h4 {
    font-size: 29px;
}
h5,
.h5 {
    font-size: 28px;
}
h6,
.h6 {
    font-size: 24px;
}

/* ---=== NAVBAR ===--- */
.header-11 {
    background-color: #2C3E50;
}
.header-11 .navbar .nav > li > a{
    color: #fff;
}
.header-11 .navbar .brand{
    color: #fff;
}


/* ---=== HOMEPAGE ===--- */
.header-10-sub .background {
    background-image: url("../images/beer-bg.jpg");
    opacity: 85;
    filter: alpha(opacity=8500);
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.header-10-sub .hero-unit p{
    color: #fff;
}
.button.outline {
    background-color: transparent;
    border: 3px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    display: inline-block;
    position: absolute;
    bottom: 150px;
    left: 48%;
    width: 140px;
    height: 60px;
    line-height: 53px;
    margin: 0px 0px 0px -26.5px;
    color: #fff;
}
.content-8 .thumbnail{
    border: none;
}
.content-8 .btn.btn-clear {
    box-sizing: border-box;
    background: none repeat scroll 0% 0% transparent;
    border: 2px solid #1ABC9C;
    font-size: 14px;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 12px 28px;
    color: #1ABC9C;
}
.content-8 .btn.btn-clear:hover,
.content-8 .btn.btn-clear:focus {
    background-color: #48C9B0;
    border-color: #48C9B0;
    color: #fff;
}
.content-8 .btn.btn-clear:active {
    background: none repeat scroll 0% 0% #16A085;
    border-color: #16A085;
    color: #fff;
}

/* ---=== BEER===--- */
.content-type-beer .thumbnail{
    border: none;
}
.content-type-beer .info {
    padding: 20px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: all 0.2s ease-in-out 0s;
}
/* ---=== REVIEW ===--- */
.content-type-review div.rating {
    padding: 20px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: all 0.2s ease-in-out 0s;
    float: right;
    width: 20%;
    margin-left: 20px;
}
/* ---=== RATING ===--- */
span.rating{font-size: 60px }
.attribute-review h2 {font-size: 30px; margin-bottom: 20px}

/* ---=== FOOTER ===--- */
.footer-3 { margin-top: 40px}

/* ---=== MARGINS ===--- */
.margin-10 { margin-top: 10px}
.margin-20 { margin-top: 20px}
.margin-30 { margin-top: 30px}
.margin-40 { margin-top: 40px}
.margin-50 { margin-top: 50px}