<footer class="footer-3">
    <div class="container">
        <div class="row v-center">
            <div class="col-sm-3">
                <a class="brand" href="#">eZ Summer Beer</a>
            </div>
            <div class="col-sm-6 text-center text-capitalize">
                <div class="additional-links">
                    I drink to make other people more interesting.
                </div>
            </div>
            <div class="col-sm-3">
                <h6>eZ Systems, Lyon</h6>
                <div class="address">
                    26 rue de la République <br>69002 Lyon
                </div>
            </div>
        </div>
    </div>
</footer>
