<header class="header-11">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="#">{{ "ezbeer.brand"|trans }}</a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">REVIEWS</a></li>
                        <li><a href="#">BLOG</a></li>
                    </ul>
                    <form class="navbar-form pull-left">
                        <a class="btn btn-primary" href="#">{{ "ezbeer.find_beer"|trans }}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
